[Unit]
Description=Reddit App
After=network.target

[Service]
WorkingDirectory=/opt/app/reddit
Type=simple
Restart=on-failure
User=puma
ExecStart=/usr/local/bin/puma

[Install]
WantedBy=multi-user.target
